# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.BookOBan.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\adamk\OneDrive\Documents\GitHub\CommunicationProto\BookOBan\.idea\.idea.BookOBan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
